Package: {package}

{description}

## Installation
Instructions go here.



## License
This project is licensed under the {license-name} license - see the LICENSE.txt for details.

Copyright (c) {year} by {author} <{email}>.