#####################################################################
#
# This file stores a line of filenames that will not have any boilerplate prepended to them in the 'pixi_pyprojectSetup.bat' script. 
#
# There is one file per line. 
# The filenames are case-insensitive.
# In-file spaces are irrelevant, though extraneous leading or trailing whitespaces can be problematic.
# The file-matching will ignore any '.TEMPLATE' extensions.
#
# A hashtag will comment any line out.
#
#####################################################################

.gitignore
readme.md
changelog.md
