// A comment above the brace.
{
    // Test comment for replacement config.
    "File": "pyproject.toml",
    "Replacements": {
        "authors": "[{name: \"{author}\", email: \"{email}\"}]"
        /* inline block comment */
    }
    // "Debug": "true" // Don't forget the preceeding comma if you uncomment this line!
    /* a multi-line block comment, 
    not inline */
}
// A comment below the brace.