// A comment above the brace.
{
    // Test comment for replacement config.
    "File": "pyproject.toml",
    "Replacements": {
        "readme": "README.md",   // Replace old readme value.
        "license-files": "[\"LICENSE.txt\"]",
        "authors": "[{name: \"Ben\", email: \"ben@example.com\"}]",
        "numbers": [1, 2, 3],
        "isStable": true /* inline block comment */
    },
    // This is the debug level, between 0 (no debuggin) and 4 (maximum verbosity)
    "Debug": true
    /* a multi-line block comment, 
    not inline */
}
// A comment below the brace.