{
    "File": "pyproject.toml",
    "Insertions": {
        "readme": "README.md", 
        "license-files": "[\"LICENSE.txt\"]", 
        "license": "{license_spdx}",    
        "description": "{description}",
    },
    "Anchor": "version =",
    // This is the debug level, between 0 (no debuggin) and 4 (maximum verbosity)
    "Debug": 1
}