:: File: run_{package}.bat
::
:: Description:
::  This script will 'run' the project using '__main__.py' within 'src' (default).
::  It may be moved to wherever so that the project can be stored separate from the run-script.
::  
:: Options (must be ordered):
::  '--run-as-script': Will run 'main.py' from the root directory (i.e. like a script) rather than '__main__.py' from the 'src' directory.
::  'src-dir': Where the code lives. In a 'src' layout, this is the 'src' directory, which is the default. If this is renamed, pass that name here.
::
:: ----------------------------------------------------------------------------

@echo off
setlocal EnableDelayedExpansion

:: Default values for passed arguments
:: This expects the arguments to be passed explicitly in this order.
set "run-as-script=false"

if "%~2"=="" (
    set "src-dir=src"
) else (
    set "src-dir=%~2"
)

:: The 'projRoot_dir' dir will be replaced within the 'pixi_pyprojectSetup.bat' script. 
cd {projRoot_dir}

:: We need to add 'src_dir' to the Python PATH so that it can find the module properly.
set PYTHONPATH=%src-dir%

:: Running the module as a script would be just running the 'main.py' file.
:: Running it as a module uses the '-m' flag to use Python's internal frameworks. 
:: The '^%*' at the end just passes any command line arguements along to the package
if "%~1"=="--run-as-script" (
    pixi run python main.py %*
) else (
    pixi run python -m {package} %*
)